.header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.container {
  position: relative;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toSignUp {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
