.label {
  display: inline-block;
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: 600;
}

.input {
  display: block;
  width: 400px;
  height: 25px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
